<h1>Create</h1>
<form action="/Stylists" method="post">
    <label for="newStylist">Add a new Stylist</label>
    <input id="newStylist" name="newStylist" type="text">
    <button type="submit">Submit</button>
  </form>
