@using HairSalon.Models;
<h1>Here is your info :@Model["selectedStylist"].GetStylistName()</h1>
<h2>List of Clients:</h2>
  <ul>
    @foreach(var client in Model["selectedClients"])
    {
    <li>@client.GetName()</li>
    }
  </ul>

<h2>List of Specialties</h2>
@if (@Model["stylistSpecialties"].Count != 0)
{
  <ul>
    @foreach (var speciality in @Model["stylistSpecialties"])
    {
      <li>@speciality.GetDescription()</li>
    }
  </ul>
}

<p><a href='/'>home</a></p>
