@using HairSalon.Models;

@if (@Model["stylistSpecialties"].Count != 0)
{
  <h4>This Stylist has these Specialties:</h4>
  <ul>
    @foreach (var speciality in @Model["stylistSpecialties"])
    {
      <li>@speciality.GetDescription()</li>
    }
  </ul>
}
