<h1>Welcome to the To salon</h1>
<h2><a href='/clis/new'>Create a Client<a/></h2>
<h2><a href='/stys/new'>Create a Stylist<a/></h2>
<h2><a href='/clis'>show Client<a/></h2>
<h2><a href='/stys'>show stylist<a/></h2>
