
<h1>Welcome to the Salon</h1>
<li><a href='/clis/new'>Create a Client<a/></li>
<li><a href='/stys/new'>Create a Stylist<a/></li>
<li><a href='/clis'>show Client<a/></li>
<li><a href='/stys'>show stylist<a/></li>
