<h1>Welcome to the To salon</h1>
<h2><a href='/clients/new'>Create a Client<a/></h2>
<h2><a href='/Stylists/new'>Create a Stylist<a/></h2>
<h2><a href='/clients'>show Client<a/></h2>
<h2><a href='/Stylists'>show stylist<a/></h2>
