<h3>Add a new card:</h3>
<form action="/clis" method="post">
  <label for="newClient">Enter your name:</label>
  <input id="newClient" name="newClient" type="text">
  <label for="">Select Stylist</label>
  <select class="selectStylist" name="stylist">
  </select>
  <button type="submit">Submit</button>
</form>
