<h3>Add a new card:</h3>
<form action="/clients" method="post">
  <label for="newClient">Enter your name:</label>
  <input id="newClient" name="newClient" type="text">
  <label for="stylistId">Select your stylist</label>
  <input id="stylistId" name="stylistId" type="text">

  </select>
